
<div class="jumbotron">
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <h2>Search Restaurant</h2>
      <br/>
      <form ng-submit="getData()" class="form-inline">

        <div class="form-group">
            <input type="text" ng-model="city" name="city" class="form-control searchbar" placeholder="Example: New York" required>
        </div>

        <div class="form-group">
          <select class="form-control searchbar_list" ng-model="country"  name="country" required>
            <option value="">Select Country</option>
            <option value="CA">Canada</option>
            <option value="CN">China</option>
            <option value="GP">Guadeloupe</option>
            <option value="HK">Hong Kong</option>
            <option value="KN">St. Kitts and Nevis</option>
            <option value="KY">Cayman Islands</option>
            <option value="HK">Hong Kong</option>
            <option value="MO">Macao</option>
            <option value="MX">Mexico</option>
            <option value="MY">Malaysia</option>
            <option value="SV">El Salvador</option>
            <option selected value="US">US</option>
            <option value="VI">Virgin Island (US)</option>
          </select>
          </div>
        <button type="submit" class="btn btn-success searchBtn">Find a Restaurant</button>

      </form>
    </div>
  </div>
</div>

<div ng-if="noresult.restaurants == 0" ng-show="!!!result.restaurants.length">
	<div class="alert alert-danger" role="alert">
  		<h4 class="text-center">Sorry! "{{city | capitalize}}" is not Available</h4>
	</div>
</div>

<div ng-if="result.restaurants.length" ng-show="noresult.restaurants==0">
	<div class="alert alert-success" role="alert">
  		<h4 class="text-center">Nearest in {{city | capitalize}}</h4>
	</div>
</div>

<!--  <div ng-if="!result.restaurants.length">
   <p class="text-center">Loading...</p>
</div> -->

<div ng-repeat="city in result.restaurants">

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-default">
				 <div class="panel-body">

					<div class="col-md-2 img-gallery">
						<img ng-src="{{city.image_url}}" alt="{{ city.name }}" ng-click="gotoRestaurant(city.id)" class="show-cursor" >
					</div>

          <div class="col-md-10 pl20">
						<h4 class="resto-name">{{ city.name }}</h4>
						<p> {{ city.address }}<br>{{ city.postal_code }}</p>
						<button class="btn btn-info" ng-click="gotoRestaurant(city.id)">Visit</button>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>
