<div ng-controller = "reservationsCtrl">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

          <h3 class="heading">Make Reservation to {{restaurant_name}}</h3>
            <hr />

            <form ng-submit="reserveTableAvailable()">
              <div class="form-group">
                <label>Number of People</label>
                <select class="form-control" ng-model="people" name="people" required>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
              <label>Date of Event</label>
              <input type="date" class="form-control" ng-model="date" name="date" placeholder="Enter Date" required>
            </div>

            <div class="form-group">
              <label>Availabel Time</label>
               <select class="form-control" ng-model="timeslot" name="timeslot">
             	 <option ng-repeat="timeslot in availableTime" value="{{timeslot}}" required>{{timeslot}}</option>
             </select>
           </div>

           <hr />

           <h3>Personal Details</h3>
           <div class="form-group">
             <label>Name</label>
             <input type="text" class="form-control" ng-model="name" name="name" placeholder="Enter Name" required>
           </div>

           <div class="form-group">
             <label>Contact Number</label>
             <input type="text" class="form-control" ng-model="contact" name="contact" placeholder="Enter Contact Number" required>
           </div>

           <div class="form-group">
             <label>Email Address</label>
             <input type="email" class="form-control" ng-model="email" name="email" placeholder="Enter Email Address" required>
           </div>

           <input type="hidden" ng-model="restaurant_id" name="restaurant_id" >
           <input type="hidden" ng-model="restaurant_name" name="rrestaurant_name" >

            <br />
            <button type="submit" class="btn btn-primary">Submit Reservation</button>
            <a class="btn btn-danger" href="#/restaurants/">Cancel</a>

          </form>

    </div>
  </div>
</div>
